<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>WebAuthn Proxy</vendor>
  <vendor_url>https://github.com/JamesFromFL/webauthn-proxy</vendor_url>

  <action id="com.webauthnproxy.authenticate">
    <description>Authenticate with WebAuthn Proxy</description>
    <message>WebAuthn Proxy needs to verify your identity before completing authentication.</message>
    <icon_name>security-high</icon_name>
    <defaults>
      <allow_any>auth_self</allow_any>
      <allow_inactive>auth_self</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
