[Unit]
Description=MyKey Secret Service API Provider
Documentation=https://github.com/JamesFromFL/mykey
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mykey-secrets
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
