[Unit]
Description=MyKey Secret Service API Provider
Documentation=https://github.com/JamesFromFL/mykey
After=mykey-daemon.service
Wants=mykey-daemon.service

[Service]
Type=simple
ExecStart=/usr/local/bin/mykey-secrets
Restart=on-failure
RestartSec=5s
User=mykey

[Install]
WantedBy=default.target
