[Unit]
Description=MyKey Daemon
Documentation=https://github.com/JamesFromFL/mykey
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/mykey-daemon
Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/dbus/system_bus_socket
Restart=on-failure
RestartSec=5s

# Run as a dedicated unprivileged system user
User=mykey

# Systemd hardening
NoNewPrivileges=yes
ProtectSystem=strict
MemoryDenyWriteExecute=yes
ReadWritePaths=/etc/mykey
ReadOnlyPaths=/etc
ReadWritePaths=/tmp
PrivateTmp=yes
RestrictRealtime=yes
SystemCallFilter=@system-service

# Allow the daemon to lock memory (needed for mlock on session tokens)
LimitMEMLOCK=65536

[Install]
WantedBy=default.target
